[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Learn how to manage several branch.
[access "refs/*"]
	owner = group user/secmes
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/secmes
	label-Verified = -1..+1 group user/secmes
	push = group user/secmes
	read = group user/secmes
	rebase = group user/secmes
	removeReviewer = group user/secmes
	submit = group user/secmes
[access "refs/heads/*"]
	create = group user/secmes
	push = +force group user/secmes
	pushMerge = group user/secmes
	read = group user/secmes
[access "refs/tags/*"]
	push = group user/secmes
	push = +force group user/secmes
